[submodule "public"]
	path = public
	url = https://github.com/Zanadar/zanadar.github.io
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme
